<div class="row details" *ngIf="series">
    <div class="details-left-panel">
        <img class="thumbnail" src="https://image.tmdb.org/t/p/w500/{{series.poster_path}}">
        <a class="btn btn-info homepage-btn" [href]="series.homepage" target="_blank">Visit Show Website</a>
    </div>
    <div class="details-right-panel">
        <h2 class="series-title">
            {{series.name}}
        </h2>
        <p>{{series.status}}</p>
        <p><strong>Last Air Date: </strong>{{series.last_air_date}}</p>
        <p><strong>Number Of Seasons: </strong>{{series.number_of_seasons}}</p>
        <p><strong>Number Of Episodes: </strong>{{series.number_of_episodes}}</p>
        <p>
            <strong>Production Companies: </strong>
            <span *ngFor="let company of series.production_companies" class="label company-label">
            {{company.name}}
            </span>
        </p>
        <p>
            <a *ngFor="let genre of series.genres" [routerLink]="['../genres/', genre.id, genre.name]"
               class="label genre-label">
                {{genre.name}}
            </a>
        </p>
        <h3>Overview</h3>
        <p>{{series.overview}}</p>
    </div>
</div>

<div class="row videos" *ngIf="video">
    <h3 class="video-name">{{video.name}}</h3>
    <div class="embed-responsive embed-responsive-16by9 video-embed">
        <iframe class="embed-responsive-item" [src]="video.url"></iframe>
    </div>
</div>

<div class="series-seasons" *ngIf="series && series.seasons && series.seasons.length > 0">
    <h3 class="season-row-heading">Seasons</h3>
    <div class="season" *ngFor="let season of series.seasons" (click)="showSeasonDetails(season.season_number)">
        <app-season-card [season]="season"></app-season-card>
    </div>
</div>

<app-modal *ngIf="seasonDetailsModalOpen" (onOverlayClick)="toggleModal($event)">
    <app-series-season [season]="season" [video]="seasonVideo"></app-series-season>
</app-modal>