@import '../../styles/utils/variables';
@import '../../styles/utils/functions';
@import '../../styles/utils/mixins';

.movie-center {
  display: flex;
  width: 100%;
  height: calc(100vh - #{$header-height});
  background-color: $brand-color;
}

.main-panel {
  width: 80%;
  height: 100%;
  padding: $base-line-height 1rem;
  overflow-y: scroll;
}

.left-panel {
  width: 20%;
  padding: $base-line-height 1rem;
}

.nav-genres {
  color: $white;
  height: 100%;
  overflow-y: scroll;
  background-color: hsl(194, 19%, 40%);
  border-radius: .2rem;
}

.genre-list {
  padding: $base-line-height 1rem;
}

.genre-cell {
  height: $base-line-height * 2;
  padding: $base-line-height/2 1rem;
  cursor: pointer;

  &:hover {
    background-color: hsl(196, 18%, 36%);
  }

  &.active {
    background-color: #df691a;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}