@import '../../../styles/utils/variables';
@import '../../../styles/utils/functions';
@import '../../../styles/utils/mixins';

.title {
  @include type-setting(2);

  margin: 0;
  color: $white;
  padding: 0 .5rem;
}

.popular-list {
  display: flex;
  flex-wrap: wrap;
}

.item {
  width: 25%;
  padding: .5rem;
}