<header class="site-header">
    <div class="container">
        <div class="banner">
            <div class="brand-wrap" [routerLink]="['/']"><i class="icon icon-video"></i>Movies Finder</div>

            <nav class="nav" [class.show]="naviActive">
                <ul class="parent">
                    <li class="child" [routerLink]="['/movies']" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }" (click)="toggleNavi()">Movies
                    </li>
                    <li class="child" [routerLink]="['/actors']" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }" (click)="toggleNavi()">Artists
                    </li>
                </ul>
            </nav>
        </div>

        <!-- Circle Toggle Button -->
        <div class="toggle-btn">
            <div class="circle-btn" (click)="toggleNavi()">
                <div class="icon">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                width="100%" height="100%" viewBox="0 0 250.579 250.579" style="enable-background:new 0 0 250.579 250.579;" xml:space="preserve">
                    <g id="Menu" class="svg-icon">
                        <path style="fill-rule:evenodd;clip-rule:evenodd;" d="M22.373,76.068h205.832c12.356,0,22.374-10.017,22.374-22.373
                    c0-12.356-10.017-22.373-22.374-22.373H22.373C10.017,31.323,0,41.339,0,53.696C0,66.052,10.017,76.068,22.373,76.068z
                     M228.205,102.916H22.373C10.017,102.916,0,112.933,0,125.289c0,12.357,10.017,22.373,22.373,22.373h205.832
                    c12.356,0,22.374-10.016,22.374-22.373C250.579,112.933,240.561,102.916,228.205,102.916z M228.205,174.51H22.373
                    C10.017,174.51,0,184.526,0,196.883c0,12.356,10.017,22.373,22.373,22.373h205.832c12.356,0,22.374-10.017,22.374-22.373
                    C250.579,184.526,240.561,174.51,228.205,174.51z"/>
                    </g>
                </svg>
                </div>
            </div>
        </div>
    </div>
</header>