@import '../../../styles/utils/variables';
@import '../../../styles/utils/functions';
@import '../../../styles/utils/mixins';

$header-bg-color: #df691a;

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: $white;
  height: $header-height;
  background-color: $header-bg-color;
  z-index: 9999999;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;

  @include respond-to(large) {
    width: 80%;
  }
}

.banner {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  height: 100%;
}

.brand-wrap {
  @include type-setting(2);

  padding: $base-line-height/2 .5rem;
  text-transform: capitalize;
  cursor: pointer;
}

.icon {
  margin-right: .5rem;
}

.nav {
  visibility: hidden;
  width: 100%;
  background-color: lighten($header-bg-color, 5%);
  height: calc(100vh - #{$header-height});

  &.show {
    visibility: visible;
  }

  @include respond-to(large) {
    visibility: visible;
    width: auto;
    height: 100%;
    background-color: transparent;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .parent {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
    height: inherit;
  }

  .child {
    padding: $base-line-height 1rem;
    cursor: pointer;
    user-select: none;
    width: 100%;
    border-bottom: 1px solid $mid-grey;

    @include respond-to(large) {
      border-bottom: none;
      width: auto;
    }

    &:hover {
      background-color: darken($header-bg-color, 5%);
    }

    &.active {
      background-color: darken($header-bg-color, 10%);
    }
  }
}

.toggle-btn {
  position: absolute;
  top: $header-height / 6;
  right: 1rem;
  height: $header-height * 2 / 3;
  width: $header-height * 2 / 3;

  @include respond-to(large) {
    display: none;
  }

  .circle-btn {
    border-radius: 100%;
    box-shadow: inset 0 0 0 2px $white;
    height: 100%;
    width: 100%;
    position: relative;

    > .icon {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 50%;
      height: 50%;
      transform: translate(-50%, -50%);
    }

    .svg-icon {
      fill: $white;
    }
  }
}