@import '../../../styles/utils/variables';
@import '../../../styles/utils/functions';
@import '../../../styles/utils/mixins';

.search-panel {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: .3rem;
  color: $white;
  background-color: lighten($brand-color, 10%);
  padding: $base-line-height*2 0;
}

.panel-content {
  width: 80%;
  margin: 0 auto;
}

.panel-title {
  @include type-setting(0);

  @include respond-to(large) {
    @include type-setting(2);
  }
}

.form-group {
  position: relative;

  .form-control {
    @include type-setting(0);

    display: block;
    width: 100%;
    height: $base-line-height * 2;
    color: #555555;
    padding: 0 3rem 0 1rem;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  }

  .icon {
    @include type-setting(1);

    position: absolute;
    top: 0;
    right: 1rem;
    color: #df691a;
    cursor: pointer;
  }
}
