@import '../../styles/utils/variables';
@import '../../styles/utils/functions';
@import '../../styles/utils/mixins';

h3 {
  @include type-setting(2);
  margin: 0;
}

.home {
  width: 100%;
  height: calc(100vh - #{$header-height});
  background-color: $brand-color;
  overflow-y: scroll;
}

.home-wrapper {
  color: $white;
  width: 95%;
  margin: 0 auto;
  padding: $base-line-height*2 0;

  @include respond-to(large) {
    width: 80%;
  }
}

.row {
  margin-bottom: $base-line-height;
}

.featured-movie {
  display: flex;
  flex-wrap: wrap;

  .left-panel {
    width: 100%;
    padding: 0 1rem;
    margin-bottom: $base-line-height;

    @include respond-to(medium) {
      width: 30%;
    }

    @include respond-to(large) {
      width: 24%;
    }
  }

  .right-panel {
    width: 100%;
    padding: 0 1rem;
    margin-bottom: $base-line-height;

    @include respond-to(medium) {
      width: 70%;
    }

    @include respond-to(large) {
      width: 76%;
    }
  }
}

.embed-responsive {
  position: relative;

  .embed-responsive-item {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0;
  }
}

.embed-responsive-16by9 {
  padding-bottom: (9/16)*100%;
}